{% extends 'base.html' %}

{% block main %}
    <h1>Listagem de funcionários</h1>

    {% for funcionario in object_list %}
        {{ funcionario }} - Empresa: {{ funcionario.empresa }}
        <a href="{% url 'update_funcionario' funcionario.id %}"><i class="bi bi-pencil-square" style="color: gray;"></i></a>
        <a href="{% url 'delete_funcionario' funcionario.id %}"><i class="bi bi-trash" style="color: red;"></i></a>
        <br>
    {% endfor %}
    <br>
    <a href="{% url 'create_funcionario' %}" class="btn btn-info">Novo</a>
    <a href="{% url 'home' %}" class="btn btn-secondary">Voltar</a>
{% endblock main %}